@font-face {
  font-family: 'SourceSansPro-SemiBold';
  src: url('../../../../public/SourceSansPro-SemiBold.ttf') format('truetype');
}

.image_grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
    /* border-top: solid rgb(255, 255, 255) 2px; */
    padding: 1rem;
    align-items: center;
  }
  
  .image_grid_item {
    /* flex: 1 0 calc(33.333% - 0.666rem); */
    position: relative;
    /* padding-top: 5rem; */
    margin: 3rem;
    /* overflow: hidden; */
    /* border: solid rgb(255, 0, 0) 2px; */
    border-radius: 45px;
    width: 25rem;
    height: 25rem;
    transition: all 500ms;
    text-align: center;
    border: solid black 5px;
    border-width: 1rem;
  }

  .image {
    object-fit: cover;
    overflow: hidden;
    border-radius: 25px;
  }

  .image_hover_title {
    margin-top: 35%;
    margin-bottom: 32.5%;
    /* border: solid red 1px; */
    padding-left: 5%;
    padding-right: 5%;
    align-items: center;
  }

  .image_blur {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'SourceSansPro-SemiBold';
    color: white;
    font-size: 3rem;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    align-items: center;
  }

  .image_grid_item:hover .image_blur {
    opacity: 1;
    backdrop-filter: blur(5px)
  }

  .grid_main {
    /* border: solid rgb(234, 0, 255) 1px; */
    margin: 0;
    margin-top: 15rem;
    margin-bottom: 15rem;
    background-color: rgba(0, 0, 0, 0.719);
    /* border-top: solid rgb(0, 0, 0) 2px;
    border-bottom: solid rgb(0, 0, 0) 2px; */
  }

  .image_grid_title {
    /* justify-content: space-evenly; */
    color: white;
    border-bottom: solid rgb(255, 255, 255) 2px;
    margin: 5rem;
    text-align: center;
    font-family: "SourceSansPro-SemiBold";
    font-size: 6rem;
    padding-bottom: 5rem;
  }

  @media (max-width: 700px) {

    .grid_main {
      display: flex;
      flex-direction: column;
      align-items: center;
      backdrop-filter: blur(5px);
      padding-bottom: 5rem;
      box-shadow: 0 0 20px black;
    }

    .image_grid_item {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      /* border: solid rgb(255, 47, 47) 2px; */
      margin: .5rem;
      margin-bottom: 2rem;
      width: 150px;
      height: 150px;
  
    }

    .image {
      width: 80vw;
      height: auto;
      border-radius: 5px;
    }

    .image_grid_title {
      /* border: solid red 1px; */
      padding-top: 5rem;
      font-size: 4rem;
      font-weight: 100;
      width: auto;
      margin: 3rem;
      padding: 1.5rem;
      padding-bottom: 1.75rem;
      
    }

    .image_grid {
      padding: 0;
      margin: 0;
      gap: 0.5rem;
      border: none;
    }

  }