@font-face {
    font-family: 'Source Sans Pro - Semi Bold';
    src: url('../../../../public/SourceSansPro-SemiBold.ttf') format('truetype');
  }

@font-face {
    font-family: 'SourceSansPro-Light';
    src: url('../../../../public/SourceSansPro-Light.ttf') format('truetype');
  }

  .main {
    padding: 5rem;
    background-color: rgb(16, 16, 20);
    /* background: linear-gradient(#351d1d00, #210202); */
    height: 40rem;
    /* border: solid blue 2px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .contact {
    font-family: 'Source Sans Pro - Semi Bold';
    color: white;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .contact h1 {
    font-size: 5rem;
  }

/* Icons for contact information and art station */
      .icons {
        font-size: 5rem;
        /* padding: 5rem; */
      }

      .icons svg {
        color: white;
        margin: 5rem;
        transition: color, 200ms;
      }


      .icons svg:hover {
        transform: translate(2px, 2px);
        color: rgb(87, 5, 5);
      }
/* end icons */

  .footer_main {
    display: flex;
    justify-content: space-between;
    align-items: flex-end; /* This is what was missing to align to bottom */
    width: 100%;
    margin-top: 5rem;
    color: white;
  }

.list_box {
    display: inline-block;
    align-items: flex-end;
    text-align: left;
    height: 10rem;
}

.list_box h3 {
    /* border: solid red 1px; */
    font-family: 'Source Sans Pro - Semi Bold';
}

.list_box li {
    width: 100%;
    /* border: solid red 1px; */
    align-items: flex-start;
    font-family: 'SourceSansPro-Light';
    list-style: none;
}

@media (max-width: 700px) {
    .main {
        padding: 1rem;
        /* flex-direction: row; */
        height: auto;
        /* border: solid red 1px; */
    }

    .footer_main {
      /* border: solid red 1px; */
      margin: 0;
      font-size: .75rem;
    }

    .list_box {
      text-align: center;
      max-height: 10rem;
    }

    .list_box ul {
      list-style: bullets;
      padding: 0;
    }

    .contact h1 {
        font-size: 3rem;
    }

    .icons svg{
      flex-direction: row;
      font-size: 3rem;
      margin: 1rem;
    }
}