
.cursor {
    display: inline-block;
	vertical-align: middle;
	width: 0.5rem;
	height: 2.5rem;
	animation: blink .75s step-end infinite;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
}

@font-face {
    font-family: 'Source Sans Pro - Semi Bold';
    src: url('../../../public/SourceSansPro-SemiBold.ttf') format('truetype');
  }
  

.professions {
    font-family: Source Sans Pro - Semi Bold;
}

@keyframes blink {
	from, to { 
		background-color: transparent 
	}
	50% { 
		background-color: rgb(0, 128, 255); 
	}
}


@media (max-width: 700px) {
    .cursor {
        /* height: 10px !important; */
        display: none !important;
    }

   

    
}
