@font-face {
  font-family: 'SourceSansPro-SemiBold';
  src: url('../../public/SourceSansPro-SemiBold.ttf') format('truetype');
}

.image_grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
    /* border: solid rgb(34, 255, 0) 5px; */
    padding: 1rem;
    align-items: center;
  }
  
  .image_grid_item {
    /* flex: 1 0 calc(33.333% - 0.666rem); */
    position: relative;
    /* padding-top: 5rem; */
    margin: 3rem;
    /* overflow: hidden; */
    /* border: solid rgb(255, 0, 0) 2px; */
    border-radius: 25px;
    width: 500px;
    height: 500px;
    transition: all 500ms;
  }

  .image {
    object-fit: cover;
    overflow: hidden;
    border-radius: 25px;
  }

  .image_grid_item:hover {
    translate: 0px -5px;
    box-shadow: 0px 0px 20px rgb(141, 0, 0);
  }

  .grid_main {
    /* border: solid rgb(234, 0, 255) 1px; */
    margin-top: 15rem;
    margin: 5rem;
    margin-bottom: 15rem;
    background-color: rgba(20, 30, 37, 0.961);
    /* border-top: solid rgb(0, 0, 0) 2px;
    border-bottom: solid rgb(0, 0, 0) 2px; */
  }

  .image_grid_title {
    color: white;
    border-bottom: solid rgb(255, 255, 255) 2px;
    margin: 5rem;
    text-align: center;
    font-family: "SourceSansPro-SemiBold";
    font-size: 6rem;
    padding-bottom: 5rem;
  }

  @media (max-width: 700px) {

    .grid_main {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .image_grid_item {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      /* border: solid rgb(255, 47, 47) 2px; */
      padding-top: 4rem;
    }

    .image {
      width: 80vw;
      height: auto;
    }

    .image_grid_title {
      /* border: solid red 1px; */
      padding-top: 5rem;
      font-size: 2.5rem;
      font-weight: 100;
      width: auto;
      margin: 3rem;
      padding: 1.5rem;
      padding-bottom: 1.75rem;
      border: solid white 1px;
      border-radius: 10px;
      background-color: rgba(169, 169, 169, 0.413);
      
    }

    .image_grid {
      padding: 0;
      margin: 0;
    }

  }