.landing {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  min-height: 100vh;
  /* border: solid red 1px; */
  border-radius: 5px;
  box-shadow: 0px 0px 15px rgb(0, 76, 255);
  background-color: white;
}

@font-face {
  font-family: 'Bruno Ace SC';
  src: url('../../public/BrunoAceSC-Regular.ttf') format('truetype');
}

.wyatt_and_links {
  font-family: Bruno Ace SC;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* border: solid blue 5px; */
  padding-left: 1rem;
  width: 60vw;
  height: 50vh;
}

.center video {
  max-width: 100%;
  height: auto;
  /* padding: 1rem; */
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(30%, auto));
  width: var(--max-width);
  /* max-width: 70%; */
  /* border: solid red 1px; */
}

.name {
  font-size: 40px;
}

.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
  /* aborder: solid blue 1px; */
  margin: 1rem;
  text-decoration: none;
  color: black;
  transition: background-color 0.5s ease-out;
  border-radius: 5px;
}


.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
  
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* padding: 5rem; */
  /* margin: 10rem; */
  /* border: solid yellow 1px; */
}

.logo_animation {
  outline: none;
  border: none;
  width: 840px;
  height: 540px;
  /* border: solid red 1px; */
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
    background-color: rgb(255, 147, 147);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .main {
    display: flex;
    flex-direction: column;
    height: fit-content;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .name {
    font-size: 2rem;
  }


  .name div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .name div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    );
    z-index: 1;
  }
}

@media (max-width: 1600px) {
  .card {
    font-size: 15px;
  }

  .grid {
      grid-gap: 40px;
      max-width: auto;
  }
  
  .logo_animation {
    width: 500px;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }

  .card h2 span {
    display: inline;
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
